<html>
  <head>
    <title>
      Character.io | Free tool to generate fresh cartoon characters
    </title>
    <style>
      .main-block {
        background-color: white;
        position: absolute;
        top: 15%;
        left: 20%;
        width: 60%;
        height: 70%;
        border-radius: 25px;
      }
      h1 {
        font-family: arial;
      }
      p {
        font-family: arial;
      }
    </style>
  </head>
  <body bgcolor = "#3c3c96">
    <div class = "main-block">
      <center><h1>Character.io</h1>
      <p>Generate a random set of characters or avatars with the power of GANs. Press spacebar to generate a new set.</p></center>
      <br>
    </div>
  </body>
</html>